<h1 style="text-align:center; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); width:400px; margin-left:35%; background-color:#4CAF50; color:white">Welcome To The Home Page</h1>
<br>
<div style="text-align:center">
<form action="/s" method="GET">
        <input type="text" placeholder="Enter Movie Name" name="movie"></input>
        <input type="hidden" name="page" value="1"></input>
        <button>Search</button>
</form>
</div>